.navbar-inverse {
    background-color: #247F50;
    border-color: green;
    margin-top: 5px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #00800086;
    font-weight: bold;
 }

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
 }

.panel-prod {
    margin-top: 15px;
    border-color: black;
}

.panel-heading-prod {
    font-weight: bold;
}

.caption {
    text-align: center;
}

.more-prod {
    text-align: right;
    color: #156388;
    font-weight: bold;
    font-style: italic;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: green;
    border-color: black;
}

.panel-primary {
    border-color: black;
}

a {
    color: black;
    text-decoration: none;
}

.more-prod > a {
    text-decoration: none;
}

.panel-post {
    margin-right: -25px;
}


.panel-body-post {
    text-align: justify;
    border-color: black;
}

.img-adv {
    text-align: center;
    width: 100%;
}

.logo {
    margin: 0 20px;
    width: 50%;
}

.container-footer {
    background-color: #247F50;
    color: #fff;
    padding-bottom: 15px;
}

.info,
.info:hover {
    text-decoration: none;
    color: #fff;
}

.panel-info > .panel-heading {
    color: white;
    background-color: #247F50;
    border-color: #247F50;
}

.panel-success > .panel-heading {
    color: white;
    background-color: #247F50;
    border-color: #247F50;
}

.panel-body {
    padding: 15px;
    border-color: black;
}

.panel-danger > .panel-heading {
    color: white;
    background-color: #247F50;
    border-color: #247F50;
}

.panel-footer {
    border-color: #247F50;
}

.panel-primary > .panel-heading {
    background-color: #247F50;
    border-color: #247F50;
}

.panel {
    border-color: #247F50;
}

.btn-info {
    background-color: #247F50;
}