﻿@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-info-circle"></i>
        Thông tin cửa hàng
    </div>
    <div class="panel-body" style="text-align:justify">
        <p>
            Phúc Long là một thương hiệu nổi tiếng về cà phê và trà, có nguồn gốc từ Việt Nam. Họ không chỉ cung cấp các sản phẩm cà phê và trà chất lượng cao mà còn nổi tiếng với không gian quán cafe sang trọng và ấm cúng. Đặc biệt, Phúc Long còn có các loại trà trái cây và trà sữa thơm ngon, được ưa chuộng bởi khách hàng.
            <br />
            Ngoài việc kinh doanh quán cafe, Phúc Long cũng sản xuất và phân phối các sản phẩm cà phê và trà để bán lẻ cho khách hàng tại các cửa hàng của họ và qua các kênh phân phối khác nhau. Điều này giúp họ mở rộng thị trường và tạo ra một thương hiệu cà phê và trà đa dạng và phong phú.
            <br />
            Phúc Long cũng chú trọng vào việc xây dựng một cộng đồng yêu cà phê và trà thông qua các sự kiện, hoạt động xã hội và chương trình khuyến mãi. Điều này giúp họ tạo dựng một môi trường gần gũi và thân thiện cho khách hàng, từ đó tăng sự tương tác và trung thành với thương hiệu của họ.
        </p>
        
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-info-circle"></i>
        Khách hàng nên đọc
    </div>
    <div class="panel-body" style="text-align:justify">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#chatluong">
                    Chất Lượng và An Toàn
                </a>
            </li>
            <li><a data-toggle="tab" href="#hoantien">Hoàn Tiền và Đổi Trả</a></li>
            <li><a data-toggle="tab" href="#baomat">Bảo Mật Thông Tin</a></li>
            <li><a data-toggle="tab" href="#giaohang">Giao Hàng Đúng Hẹn</a></li>
        </ul>
        <div class="tab-content">
            <div id="chatluong" class="tab-pane fade in active">
                <p>
                    Chúng tôi cam kết cung cấp những sản phẩm chất lượng cao và an toàn
                    nhất cho thức uống của bạn. Tất cả các sản phẩm được chọn lựa kỹ lưỡng và kiểm tra chất
                    lượng để đảm bảo tuân thủ các tiêu chuẩn an toàn và hợp lý.
                </p>
            </div>
            <div id="hoantien" class="tab-pane fade">
                <p>
                    Trong trường hợp sản phẩm không đáp ứng được mong đợi của bạn hoặc
                    có bất kỳ vấn đề gì liên quan đến chất lượng, chúng tôi cam kết hoàn tiền hoặc đổi trả
                    sản phẩm theo điều kiện cụ thể.
                </p>
            </div>
            <div id="baomat" class="tab-pane fade">
                <p>
                    Chúng tôi cam kết bảo vệ thông tin cá nhân của khách hàng và không
                    chia sẻ thông tin này với bất kỳ bên thứ ba nào mà không có sự đồng ý của khách
                    hàng.
                </p>
            </div>
            <div id="giaohang" class="tab-pane fade">
                <p>Chúng tôi cam kết giao hàng đúng hẹn và đảm bảo sản phẩm được giao đến tay khách hàng một cách an toàn và nhanh chóng.</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod"><i class="fa fa-info-circle"></i>Thông tin chuyển khoản</div>
    <div class="panel-body" style="text-align:justify">
       <p>Vui lòng chuyển khoản thanh toán đến một trong các tài khoản sau:</p>
       <ul>
           <li><strong>Ngân hàng MBBank:</strong> Số tài khoản: 722039999979</li>
           <li><strong>Ngân hàng TechComBank:</strong> Số tài khoản: 8387979779</li>
           <li><strong>Ngân hàng Timo:</strong> Số tài khoản: 0968119957</li>
       </ul>
       <p>Xin vui lòng ghi rõ thông tin đơn hàng khi chuyển khoản. Đơn hàng sẽ được xác nhận sau khi nhận được thanh toán.</p>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod"><i class="fa fa-info-circle"></i>Phản hồi với SHELL STORE</div>
    <div class="panel-body">
        <div class="panel panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2" for="txtusername">Họ và tên:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtusername" placeholder="Nhập họ và tên">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="txtemail">Email:</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="txtemail" placeholder="Nhập địa chỉ email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="txttitle">Tiêu đề:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txttitle" placeholder="Nhập tiêu đề">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="txtdetail">Nội dung:</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="txtdetail" rows="5" placeholder="Nhập nội dung"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="btnSend" class="btn btn-danger"><i class="fa fa-external-link"></i> Gửi </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
