﻿@model WebsitePhucLong.ViewModels.HomeViewModel
<div class="panel panel-primary panel-post">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-comments-o"></i> Giới thiệu
    </div>

    <div class="panel-body panel-body-post">
        @foreach (var item in Model.Blogs)
        {
            <h4><a href="/bai-viet/@item.Link-@item.IdBlog">@item.Title</a></h4>
            <p>@item.Description</p>
        }
        <p>
            Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và hạt cà phê thượng hạng cùng mong muốn mang lại cho khách hàng những trải nghiệm giá trị nhất khi thưởng thức, Phúc Long liên tục là thương hiệu tiên phong với nhiều ý tưởng sáng tạo đi đầu trong ngành trà và cà phê.
        </p>
    </div>

    <div class="panel-footer">
        <p class="more-prod">
            <a href="/bai-viet" target="_blank" style="color:#247F50">
                Xem thêm bài
                viết...
            </a>
        </p>
    </div>
</div>