﻿@model WebsitePhucLong.ViewModels.HomeViewModel
<div class="panel panel-info panel-prod">
    <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i>Trà</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.TeaProds)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/products/@item.Img1" class="img-rounded" alt="@item.NamePro">
                        <div class="caption">
                            <h4>@item.NamePro</h4>
                            <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            <p>
                                <a href="san-pham/@item.Link-@item.IdPro" class="btn btn-info" role="button">Đặt Hàng</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">
        <p class="more-prod">
            <a href="/san-pham" target="_blank"> Xem thêm sản phẩm...</a>
        </p>
    </div>
</div>

<div class="panel panel-danger panel-prod">
    <div class="panel-heading panel-heading-prod"><i class="fa fa-spinner fa-spin"></i> Đá Xay</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.IceBlendedProds)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/products/@item.Img1" class="img-rounded" alt="@item.NamePro">
                        <div class="caption">
                            <h4>@item.NamePro</h4>
                            <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            <p>
                                <a href="san-pham/@item.Link-@item.IdPro" class="btn btn-info" role="button">Đặt Hàng</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">
        <p class="more-prod">
            <a href="/san-pham" target="_blank">Xem thêm sản phẩm...</a>
        </p>
    </div>
</div>